.nabla-special {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 100;
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color: #212121;
  --secondary-color: #9Ab973;
  --third-color: #f2f2f2; /*  #f2f2f2  #A9BA9D*/
  --borderLine: 2px solid var(--primary-color);
  --texteFont: "Funnel Display", sans-serif;
  --boldtWeight: 800;
  --mediumWeight: 600;
  --lightWeight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--texteFont);
  background-color: var(--third-color);
  color: var(--primary-color);
  font-weight: var(--lightWeight);
  line-height: 1.6;
  min-height: 100vh;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
}

a:hover {
  text-decoration: none;
}

.link-style {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.link-style::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 0px;
  right: 0;
  background-color: currentColor;
  transition: width 0.3s ease, right 0.3s ease;
}

.link-style:hover::after {
  width: 100%;
  right: 0;
}

.link-style-active {
  color: var(--secondary-color);
}

.link-style-active::after {
  width: 100%;
  right: 0;
  background-color: var(--secondary-color);
}

/* Optionnel : style global pour les images et formulaires */
img {
  max-width: 100%;
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

/* 🎨 Ajout du color-scheme pour supporter light/dark */
:root {
  color-scheme: light dark;
}

/** HEADER **/
.header {
  background-color: var(--third-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: all 0.3s ease;
  border-bottom: 2px solid var(--primary-color);
  z-index: 99999;
}

.header.shrink {
  padding: 10px 30px;
}

.logo {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: var(--boldtWeight);
}

.nav a {
  margin-left: 1rem;
  font-weight: var(--mediumtWeight);
}

.lang-switch-btn {
  color: var(----primary-color);
  font-weight: var(--boldtWeight);
  margin: auto 2px;
  border: none;
  background: none;
  cursor: pointer;
}

.lang-switch-btn.active {
  color: var(--secondary-color);
  font-size: 0.9em;
}

.nav span {
  margin-left: 15px;
}

/** HEADER **/
/** FOOTER **/

.footer {
  width: 100vw;
  background-color: var(--third-color);
  border-top: var(--borderLine);
}

.footer h1 {
  font-weight: var(--boldtWeight);
}
.info-footer {
  width: 100vw;
  padding: 5em 0;
  text-align: center;

}

.navFooter{
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
  font-size: 14px;
  font-weight: var(--lightWeight);
}

.bottom-footer {
  width: 100vw;
  height: 15%;
  background-color: var(--primary-color);
  color: var(--third-color);
  font-weight: var(--lightWeight);
  font-size: 12px;
  display: flex;              
  justify-content: space-between;
  align-items: center;
  padding: 2em 40px; 
}

.logoFooter {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin: auto;
}

a svg {
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s;
}

a:hover svg {
  color: var(--secondary-color);
}
/** FOOTER **/

/** HERO SECTION **/
.heroSection {
  width: 100vw;
  height: 500px;
  border-bottom: var(--borderLine);
}

.heroTxt {
  position: relative;
  top: 7vh;
  left: 5vw;
  width: 550px;
  overflow: hidden;
  font-size: 1.5rem;
}

.heroTxt p {
  font-weight: var(--boldtWeight);
}

.heroBtn {
  margin: 40px ;
  font-size: 0.7em;
  padding: 0.4em 1em;
  font-weight: var(--boldtWeight);
  background-color: var(--third-color);
  border: var(--borderLine);
  border-radius: 4em;
  transition: all 0.3s ease;
}

.heroBtn:hover {
  transform: scale(1.1); /* Zoom sur le bouton */
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/** HERO SECTION **/